<section class="contest_place pt-4 d-flex pe-4 align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="place col-12 col-md-6">
            <h1 class="text-center mb-5">محل برگزاری مسابقه</h1>
            <p class="px-2 px-md-5">مسابقه امسال با میزبانی دانشگاه پیام نور استان تهران و به صورت مجازی برگزار خواهد شد. شرکت کنندگان در استان‌ها، به صورت حضوری در مرکز استان حاضر شده و تحت نظارت شورای متشکل از همکاران حراست ،نظارت و فرهنگی دانشجویی  استان‌ها مسابقه خواهند داد.</p>
    </div>
    <div class="d-none d-md-block col-6 p-5 svg-container text-end ">
        {% include 'iso/server.svg' %}
    </div>    
</section>