    <section class="contest_place pt-4 d-flex pe-4 align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="d-none d-md-block col-6 px-5 svg-container text-start">
        {% include 'iso/multi_desktop.svg' %}
    </div>     
    <div class="place col-12 col-md-6">
        <h3 class="text-center mb-5">زبان‌های مجاز برنامه‌نویسی</h3>
        <p>زبان های برنامه نویسی مجاز برای مسابقه، شامل زبان های C++ ، Python  ، Java  و C#   می باشد.
                همچنین پارامترهای کامپایل برای هر یک از زبان های برنامه نویسی به صورت زیر خواهد بود.
                </p>
                <ul dir="ltr" class="me-md-5 px-2 px-md-5 fs-5" style="list-style: square;">
                <li>C++ :  (GCC 7.5)</li>
                <li>g++ -XC++ -std=gnu++17-Wall-O2-static-pipe${file}</li>
                <li>Java: (OpenJDK 1.8)</li>
                <li>Javac –encoding UTF-8-d. ${file}</li>
                <li>Pyton3-m  Py_compile ${file}</li>
                
        </ul>
    </div>
          
    </section>