<section class="prize pt-4 d-flex pe-4 align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="place col-12 col-md-6">
        <h3 class="text-center mb-5">جوایز</h3>
        <h5 class="text-center pb-2"> به تیم های برتر  جوایز نقدی به شرح ذیل اهداء خواهد شد:</h5>
        <p class="px-2 px-md-5 text-center">تیم اول: ۱۵ میلیون ریال</p>
        <p class="px-2 px-md-5 text-center"> تیم دوم: ۱۲ میلیون ریال</p>
        <p class="px-2 px-md-5 text-center">تیم سوم: ۹ میلیون ریال</p>
        <p class="px-2 px-md-5 text-center">تیم چهارم: ۶ میلیون ریال</p>
    </div>
    <div class="d-none d-md-block col-6 px-5 svg-container text-end">
        {% include 'iso/prize.svg' %}
    </div>     
   
          
</section>