        
<section class="problemset_archive py-5 my-5 d-flex" data-aos="fade-up" data-aos-duration="500">
        <div class="d-none d-md-block col-6 px-5 svg-container text-start">
                {% include 'iso/folder.svg' %}
            </div>   
    <article id="archive" class="bg-white position-relative my-2 px-4 sub-container col-12 col-md-6">
        <h3 class="mb-2 pb-2 text-center">آرشیو سوالات ادوار گذشته</h3>
        
        <div class="vn-green" style="text-align: center;">
            <a class="btn get_problemset btn-wrap" id="problemset_all" href="#">تمام دوره ها</a> 
        </div>
        <div class="vn-teal" style="text-align: center;">
            <a class="btn get_problemset btn-wrap" id="problemset_1" href="#">دوره اول - بابل</a>
        </div>
        <div class="vn-orange" style="text-align: center;">
            <a class="btn get_problemset btn-wrap" id="problemset_2" href="#">دوره دوم - مشهد</a>
        </div>
        <div class="vn-blue" style="text-align: center;">
            <a class="btn get_problemset btn-wrap" id="problemset_3" href="#">دوره سوم - همدان</a>
        </div>
        <div class="vn-blue" style="text-align: center;">
            <a class="btn get_problemset btn-wrap" id="problemset_4" href="#">دوره چهارم - تهران</a>
        </div>
    </article>
   
</section>