<section class="rules pt-4 d-flex pe-4 align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="place col-12 col-md-6">
        <h1 class="text-center mb-5">قوانین حاکم بر مسابقه</h1>
        <p class="px-2 px-md-5">دانشجویان شرکت کننده،حتماً باید دانشجوی مشغول به تحصیل در نیمسال دوم سال تحصیلی ۱۴۰۰ – ۱۳۹۹ باشند.</p>
        <p class="px-2 px-md-5">هر تیم، شامل ۳ نفر خواهد بود و تیم‌های دو نفره ، یک نفره و یا بیشتر از سه نفره پذیرش نخواهند شد.</p>
        <p class="px-2 px-md-5">در طول زمان مسابقه، استفاده از هرگونه وسیله ارتباطی ممنوع است.</p>
        <p class="px-2 px-md-5">در طول زمان مسابقه، دسترسی به اینترنت برای اعضای شرکت کننده قطع بوده و تیم ها از طریق شبکه ارتباطی که از طرف گروه فنی مسابقه تدارک دیده خواهد شد، به طور آنلاین در فضای شبکه داخلی اعضای شرکت کننده، مسابقه خواهند داد.</p>
    </div>
    <div class="d-none d-md-block col-6 px-5 svg-container text-end">
        {% include 'iso/rules.svg' %}
    </div>     
   
          
</section>