<section class="rules pt-4 d-flex pe-4 align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="place col-12 col-md-6">
        <h3 class="text-center mb-5">قوانین حاکم بر مسابقه</h3>
        <p class="ps-md-5 text-justify">دانشجویان شرکت کننده حتما باید دانشجوی مشغول به تحصیل در نیمسال اول سال تحصیلی 1400-1401  باشند.
                <br/>
                هر تیم شامل 3 نفر خواهد بود و تیم های دو نفره و یا بیشتر از سه نفر پذیرش نخواهند شد.
                <br/>
                در طول زمان مسابقه، استفاده از هرگونه وسیله ارتباطی ممنوع است.
                <br/>
                در طول زمان مسابقه، دسترسی به اینترنت برای اعضای شرکت کننده قطع بوده و تیم ها از طریق شبکه ارتباطی که از طرف گروه فنی مسابقه تدارک دیده خواهد شد،  به طور انلاین در فضای شبکه داخلی اعضای شرکت کننده، مسابقه خواهند بود.
              </p>
    </div>
    <div class="d-none d-md-block col-6 px-5 svg-container text-end">
        {% include 'iso/rules.svg' %}
    </div>     
   
          
</section>