<section class="countdown pt-4 d-flex pe-4 align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="d-none d-md-block col-6 px-5 svg-container text-start">
        {% include 'iso/calendar.svg' %}
    </div>    
    <div class="timer_container col-12 col-md-6" dir="ltr" >
            <div class="balloon white">
                <div class="face">
                    <div class="eye"></div>
                    <div class="mouth happy"></div>
                </div>
                <div class="triangle"></div>
                <div class="string"></div>
            </div>
            <div class="balloon yellow">
                    <div class="face">
                        <div class="eye"></div>
                        <div class="mouth happy"></div>
                    </div>
                    <div class="triangle"></div>
                    <div class="string"></div>
                </div>
            <div class="balloon red">
                <div class="face">
                    <div class="eye"></div>
                    <div class="mouth happy"></div>
                </div>
                <div class="triangle"></div>
                <div class="string"></div>
            </div>
            
            <div class="balloon blue">
                <div class="face">
                    <div class="eye"></div>
                    <div class="mouth happy"></div>
                </div>
                <div class="triangle"></div>
                <div class="string"></div>
            </div>
            <div id="timer"></div>
            <h3 >
                زمان برگزاری مسابقه ۱۷ آبان ماه 1400 ساعت 9 الي 13 تعیین شده است
                <br>
                مهلت ثبت نام تیم ها از
                <span class="text-info px-1"> 20 مهر </span>
                تا 
                <span class="text-info px-1">30 مهر</span>
                می باشد
            </h3>
    </div>
   
</section>