@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/iranyekanweblight.ttf') format('truetype');
}
*{
    font-family: IRANYekan;
}
a{
    text-decoration: none;
}
body, html{
    height: 100%;
}
body.gray_bg{
    background-color: #e8e8e8; 
}
.bg-lightblue{
    background-color: #e3e7ec ;
}
.bg-none{
    background: none !important;
    background-color: transparent !important;
}
.border-none{
    border: none !important;
}
.border-dashed{
    border-style: dashed !important;
}
.border-muted{
    border-color: #999 !important;
}
.shadow-md{
    box-shadow : 4px 4px 8px 2px #2222;
}
.btn-simple{
    background: none;
    border: none;
}
.pagination-md .page-link{
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
}
.pointer-none{
    pointer-events: none;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
td, th{
    white-space: nowrap;
}


/* **************** */
/*      Login       */
/* **************** */


