{% extends 'base.html' %}
{% block main %}
    <main class="admin_dashboard h-100">
        <div class="row m-0  h-100">
            {% with active_tab = 'announcements' %}
            {% include '/admin/admin_sidebar.html' %}
            {% endwith %}
            <div class="col-9 content ms-auto pt-3">
                <h4 class="my-2 pb-2">اطلاعیه ها</h4>
                <section id="tabs" class="d-none">
                    <ul>
                        <li><a href="#announcements">همه </a></li>
                        <li><a href="#new_announcement">جدید </a></li>
                        <li><a href="#edit_announcements">ویرایش</a></li>
                    </ul>


                   {% include "admin/announcements/all.html" %}
                   {% include "admin/announcements/new.html" %}
                   {% include "admin/announcements/edit.html" %}
                                     
                </section>
                
            </div>
        </div> 
       
    </main>
{% endblock %}