{% extends 'base.html' %}
{% block main %}
    <main class="admin_dashboard h-100">
        <div class="row m-0  h-100">
            {% with active_tab = 'announcements' %}
            {% include '/admin/admin_sidebar.html' %}
            {% endwith %}
            <div class="col-9 content ms-auto pt-3">
                <article class="" id="announcements">
                    <h4 class="my-2">اطلاعیه ها</h4>
                    <hr>
                    <button class="btn btn-main mb-4 rounded" onclick='add_new_announcement(this)'>اطلاعیه جدید</button>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% for c,m in messages%}
                            <div class="alert alert-{{c}}">{{m}}</div>
                        {% endfor %}
                    {% endwith %}
                    <form action="" class="flex-wrap d-none" id="new_announcement_form" method="POST" enctype="multipart/form-data">
                        {{ form and form.hidden_tag()}}
                        <div class="col-12 col-md-8 pe-2">
                            {{ form.title(class="title form-control {{ form.identifier.errors and is-invalid }}") }}
                            {% if form.title.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.identifier.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-4 ps-2">
                            <div class="image_preview" >
                                <img class="placeholder_image placeholder" src="{{ url_for('static', filename='img/camera.png')}}" /> 
                                <small class='placeholder_text placeholder'>افزودن تصویر</small>
                                <small class='help_text d-none'>برای تغییر کلیک کنید.</small>
                            </div>
                            {{ form.image(class="d-none", id="avatar_input", accept=".png, .jpg, .jpeg") }}
                        </div>
                        <div class="col-12 ">
                                {{ form.html(id="summernote") }}
                        </div>
                        <div class="col-12 py-3 justify-content-end d-flex">
                            <button class="btn btn-primary" type="submit">ایجاد و انتشار</button>
                        </div>
                    </form>
                    {% if not announcements %}
                        <div class="alert alert-info">
                            اطلاعیه ای ثبت نشده است.
                        </div>
                    {% else %}
                    {% endif %}
                </article>
            </div>
        </div> 
       
    </main>
{% endblock %}