{% extends 'base.html' %}
{% block main %}
    <main class="admin_dashboard h-100">
        <div class="row m-0  h-100">
            {% with active_tab = 'contact_us' %}
                {% include '/admin/admin_sidebar.html' %}
            {% endwith %}
            <div class="col-9 content ms-auto pt-3">
                <h4 class="my-2 pb-2 mb-5">پیام های مخاطبان</h4>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for c,m in messages%}
                        <div class="alert alert-{c}"> {{ m }}</div>
                    {% endfor %}
                {% endwith %}
                {% if contacts %}
                <div class="contacts">
                    {% for contact in contacts %}
                        <div class="contact border p-3 rounded-3 mb-2">
                            <p class="name"><span class="me-1">نام</span>:<b class="ms-1">{{ contact.name }}</b></p>
                            <p class="email"><span class="me-1">ایمیل</span>:<b class="ms-1">{{ contact.email }}</b></p>
                            <p class="text"> <span class="me-1">متن</span> : <b class="ms-1">{{ contact.text }}</b></p>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="alert alert-info">
                        پیامی ارسال نشده است.
                    </div>
                {% endif %}
            </div>
        </div> 
       
    </main>
{% endblock %}