<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqueryui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquirtl.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bsicons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countdown.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <!-- <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet"> -->

    <title>{{ title }}</title>
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='img/pcpc-fav.png', _external=True)}}"/>
</head>
<body class="{{ body_class or ''}}">
    {% if not hide_navbar %}
        {% include 'snippets/navbar.html' %}
    {% endif %}
    {% block navigator %} {% endblock %}
    {% block main %} {% endblock %}

    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

    <script src="{{ url_for('static', filename='js/toastr.js')}}"></script>
    <script src="{{ url_for('static', filename='js/date.js')}}"></script>
    <script src="{{ url_for('static', filename='js/countdown.js')}}"></script>
    <script src="{{ url_for('static', filename='js/master.js')}}"></script>
    <script src="{{ url_for('static', filename='js/admin.js')}}"></script>

</body>
</html>