{% extends 'base.html' %}
{% block main %}
    <article id="rules" class=" col-12 pt-5 mt-5">
        <h1 class="mt-5 mb-0 py-3 pb-5 text-center" style="background: #fefefe ;border-bottom: 1px solid #ddd;">
                ارتباط با ما
        </h1>
        <div class="content  pb-5 px-md-4 p-2 border-top-1 rounded" style="background: #ebeef0;text-align: justify;">
            <div class="col-inner col-12 col-md-6 mx-auto pt-2">
                    <h4>آدرس:</h4>
                    <p class="mt-3">تبریز- خیابان آزادی- ابتدای ضلع غربی روگذر ابوریحان- خیابان شاهد- نبش کوی بهارستان-
                            دانشگاه پیام نور استان آذربایجان شرقی</p>
                
                    <h4 class="mt-5 pt-md-4">ایمیل:</h4>
                    <h5>
                        <a class="mt-4" href="mailto:pnu.farhangi@gmail.com"><u>pnu.farhangi@gmail.com</u></a>
                    </h5>
    
    
                    <h4  class="mt-5 pt-md-4">شماره تلفن:</h4>
                    <h5 class="d-inline">
    
                        <a class="mt-3 " href="tel:+984134769009"><u>04134769009</u></a>
                    </h5 >
                        <b class="px-md-3 ">-</b>
                    <h5 class="d-inline">
                        <a class="mt-3 " href="tel:+984134768683"><u>04134768683</u></a>
                </h5>
            </div>
    
            
        </div>
    </article>
{% endblock main %}