{% extends 'base.html' %}
{% block main %}
    <div class="container-fluid row p-0" id="login_page">
        <div class="col-12 col-md-6  p-4" id="login_form_container">
                <form action="" method="POST" class="w-100">
                        <!-- CSRF -->
                        {{ form.hidden_tag() }} 
                        <fieldset class="form-group ">
                            <legend class="mb-4 text-center">
                                    {% include 'snippets/double-logo.html' %}
                            </legend>
                            <div class="inputs px-md-5">
                                <div class="form-group  mb-5 ">
                                    {% if form.identifier.errors %}
                                        <div class="input-group mb-3 new_design_inputs bg-none  is-invalid">
                                            {{ form.identifier(class="form-control form-control-lg pe-5") }}
                                            {{ form.identifier.label(class="form-control-label pb-2 ") }}
                                            <i class="bi-person-fill text-danger"></i>
                                        </div>
                                        
                                        <div class="invalid-feedback">
                                            {% for error in form.identifier.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {%else%}
                                    <div class="input-group mb-3  bg-none new_design_inputs">
                                        {{ form.identifier(class="form-control form-control-lg pe-5") }}
                                        {{ form.identifier.label(class="form-control-label pb-2") }}
                                        <i class="bi-person-fill"></i>
                                    </div>
                                    {%endif%}
                                </div>
                                <div class="form-group my-5 ">
                                    
                                    {%if form.password.errors %}
                                        <div class="input-group mb-3  bg-none new_design_inputs is-invalid">
                                            {{ form.password(class="form-control form-control-lg   pe-5") }}
                                            {{ form.password.label(class="form-control-label pb-2 ") }}
                                            <i class="bi-shield-lock-fill text-danger"></i>
                                        </div>
                                        <div class="invalid-feedback ">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {%else%}
                                    <div class="input-group mb-3  bg-none new_design_inputs">
                                        {{ form.password(class="form-control form-control-lg pe-5") }}
                                        {{ form.password.label(class="form-control-label pb-2") }}
                                        <i class="bi-shield-lock-fill"></i>
                                        
                                    </div>
                                    {%endif%}
                                </div>
                                <div class="input-group mb-3  bg-none new_design_inputs">
                                    {{ form.submit(class="btn btn-main btn-lg w-50 rounded ") }}
                                    <a class="btn btn-simple  text-center w-50 text-main text-black-75" href="#" >
                                            <small>بازیابی رمز عبور</small>
                                    </a>
                                </div>

                                <div class="form-group mt-4">
                                </div>
                                <div class="form-group  mb-5 d-flex   justify-content-between align-items-center  border-top pt-2">
                                    <small class="text-muted col-6 text-start ">
                                        حساب ندارید؟
                                        <a class="mr-2 text-main fw-bolder" href="{{ url_for('register') }}">ثبت نام </a>
                                    </small>
                                        <div class=" col-6  text-end ">
                                            {{ form.remember() }}
                                            {{ form.remember.label(class="form-control-label") }}
                                        </div>     
                                                    
                                </div>
                            </div>
                        </fieldset>
                        {% with messages = get_flashed_messages(with_categories=True)%}
                            {% for category, msg in messages %}
                                <div class="alert alert-{{category}}" role="alert">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                        {% endwith %}
                    </form>
        </div>
        <div class="col-12 col-md-6 info px-0 d-flex text-white">
            <div class="pnu_logo h-100 "></div>
            <div class="content p-2  d-flex justify-content-center align-items-start flex-column">
                <h1>PCPC</h1>
                <h5>پنجمین دوره مسابقات برنامه نویسی دانشجویی</h5>
                <h5>دانشگاه های پیام نور کشور - تبریز</h5>
            </div>
        </div>
    </div>
{% endblock%}