{% extends 'base.html' %}
{% block main %}
    <article id="rules" class=" col-12 pt-5 mt-5">
        <h1 class="mt-5 mb-0 py-3 pb-5 text-center" style="background: #fefefe ;border-bottom: 1px solid #ddd;">
                ثبت نام
        </h1>
        <div class="content  pb-5 px-md-4 p-2 border-top-1 rounded" style="background: #ebeef0;text-align: justify;">
            <div class="col-inner col-12 col-md-6 mx-auto pt-5">
                <p><strong>ثبت نام تیم ها باید توسط سرپرست تیم ها صورت گیرد. زمان ثبت نام تیم ها از 
                    <span class="text-success">۲۰مهر ماه</span>
                    تا پایان
                    <span class='text-success'>۳۰مهرماه</span>
                    روز   ۱۴۰۰ خواهد بود.</strong></p>
                <p><strong>لازم است جهت ثبت نام هریک از تیم ها فرم ثبت نام را از سایت دانلود کرده و تکمیل نمایند. این
                    فرم توسط دانشگاه محل تحصیل باید مهر شود. اسکن شده فرم ثبت نام به همراه فیش واریزی
                    هزینه ثبت نام را در سایت بارگذاری نمائید.</strong></p>
            </div>
            <div class="col-inner col-12 col-md-6 mx-auto">
                <p><strong>حق ثبت نام و شرکت هر تیم، <u class="text-primary">120</u> هزار تومان تعیین گردیده است</strong></p>
                <p><strong>که باید به شماره حساب با مشخصات&nbsp; ذیل واریز شود:</strong></p>
                <p><strong>شماره شبا :&nbsp;&nbsp;&nbsp; ۶۹۰۱۰۰۰۰۴۰۰۱۰۸۶۰۰۳۰۰۶۵۱۷ IR</strong></p>
                <p><strong>شناسه:&nbsp;&nbsp;&nbsp;&nbsp; ۳۸۲۹۷۶۰۸۲۱۲۶۰۰۰۰۰۰۰۰۰۰۰۰۰۰۵۶۰۷</strong> 
                    <button class="copytoclip btn-outline-primary btn-sm" 
                    data-data="382976082126000000000000005607">کپی !</button></p>
                <p><strong> پس از واریز ، فیش در سامانه ثبت نام بارگذاری شود .</strong></p>
                <p><strong>هنگام واریز مبلغ حتما شماره شبا و شناسه را درج نمایید، در غیر این صورت فیش واریزی&nbsp; از درجه اعتبار ساقط می باشد.</strong></p>
                <p>&nbsp;</p>
                
                <div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
            </div>
            <div class="col-inner col-12 col-md-6 mx-auto">
                <button class="btn btn-primary">دانلود فرم ثبت نام</button>
                <button class="btn btn-success">بارگذاری فایل اسکن</button>
            </div>
            
        </div>
    </article>
{% endblock main %}