{% extends 'base.html' %}
{% block main %}
    <article id="rules" class=" col-12 col-md-9 p-md-4 p-2 mx-auto pt-5 mt-5">
        <h1 class="mt-5 py-5">
                شرایط شرکت ‌کنندگان
        </h1>
        <div class="col-inner">
            <p><strong>جهت پوشش رسانه‌ای مناسب مسابقه، شرایط اختصاصی فضای تدارک دیده شده از سوی استان‌ها برای حضور دانشجویان شرکت کننده هر استان، به شرح زیر اعلام میگردد.</strong></p>
            <p><strong>در فضای مسابقه باید برای هر تیم ۳ نفره یک سیستم کامپیوتری تدارک دیده شده باشد. و چیدمان سیستم‌ها، با رعایت تمام پروتکل های بهداشتی و فاصله مناسب باشد.</strong></p>
            <p><strong>سیستم داوری مورد استفاده برای مسابقه، DOMJudge می‌باشد که نرم‌افزار بین المللی شناخته‌شده برای داوری مسابقات برنامه‌نویسی و مورد استفاده در مسابقات جهانی&nbsp; ICPC می‌باشد.</strong></p>
            <p><strong>&nbsp;</strong></p>
            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
        </div>
        <div class="col-inner">
            <p><strong>حق ثبت نام و شرکت هر تیم، <u>۶۰</u> هزار تومان تعیین گردیده است</strong></p>
            <p><strong>که باید به شماره حساب با مشخصات&nbsp; ذیل واریز شود:</strong></p>
            <p><strong>شماره شبا :&nbsp;&nbsp;&nbsp; ۶۹۰۱۰۰۰۰۴۰۰۱۰۸۶۰۰۳۰۰۶۵۱۷ IR</strong></p>
            <p><strong>شناسه:&nbsp;&nbsp;&nbsp;&nbsp; ۳۸۲۹۷۶۰۸۲۱۲۶۰۰۰۰۰۰۰۰۰۰۰۰۰۰۵۶۰۷</strong></p>
            <p><strong>&nbsp;پس از واریز&nbsp; ،فیش در سامانه ثبت نام بارگذاری شود.</strong></p>
            <p><strong>هنگام واریز مبلغ حتما شماره شبا و شناسه را درج نمایید، در غیر این صورت فیش واریزی&nbsp; از درجه اعتبار ساقط می باشد.</strong></p>
            <p>&nbsp;</p>
            
            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
        </div>
        <div class="col-inner">
            <p><strong>این مسابقات به صورت تیمی برگزار می‌شوند و هر تیم متشکل از ۳ نفر شرکت کننده (که در روز مسابقه پشت سیستم‌های کامپیوتری مستقر خواهند شد) و یک نفر مربّی (که فقط و فقط تا روز قبل از مسابقه اصلی، امکان راهنمایی اعضای تیم خود را خواهد داشت)، خواهد بود.</strong></p>
            <p><strong>کلیه شرکت کنندگان یک تیم، باید دانشجوی مشغول به تحصیل دانشگاه پیام نور و هر سه نفر از یک استان باشند.در خصوص رشته تحصیلی شرکت­کنندگان و تعداد تیم های هر استان، هیچ محدودیتی وجود ندارد.دانشجویان بایستی فرم ثبت نام در سامانه را تکمیل نمایند.</strong></p>
            <p><strong>درصورتی که در هر مرحله از مسابقه مشخص شود،&nbsp; افراد شرکت کننده دانشجوی دانشگاه پیام نور نبوده و واجد شرائط شرکت در مسابقه نمی باشند ، از دور مسابقات حذف خواهند شد.</strong></p>
            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
        </div>
    </article>
{% endblock main %}