{% extends 'base.html' %}
{% block main %}
    <article id="rules" class=" col-12 pt-5 mt-5">
        <h1 class="mt-5 mb-0 py-3 pb-5 text-center" style="background: #fefefe ;border-bottom: 1px solid #ddd;">
                شرایط شرکت ‌کنندگان
        </h1>
        <div class="content  px-md-4 p-2 border-top-1 rounded pt-5" style="background: #ebeef0;text-align: justify;">
            
            <div class="col-inner col-12 col-md-6 mx-auto">
                <p><strong>مسابقه بین المللی برنامه سازی دانش جویی 
                        (ICPC)
                        در سال 1977 توسط انجمن معتبر ACM
                        با هدف ارتقای توانایی برنامه نویسی گروهی در بین دانش جویان بنا نهاده شد.این مسابقه هر ساله به صورت منطقه ای در نقاط مختلف جهان برگزار می شود و برندگان مسابقات منطقه ای به مرحله نهایی راه می یابند.</strong></p>
                <p><b>
                        نخستین دوره مسابقه دانشجویی دانشگاه پیام نور در اردیبهشت ماه سال 95 در شهر بابل به همت دانشگاه پیام نور بابل برگزار شد. 
                        دومین دوره این مسابقات به میزبانی دانشگاه پیام نور مشهد در اسفندماه سال 1397 برگزار گردید .
                        در سال 1398 سومین
                         دوره این مسابقات در دانشگاه پیام نور همان برگزار شد.با همه گیری بیماری کرونا، چهارمین دوره این مسابقات در اسفندماه سال 1399 با کوشش دانشگاه  پیام نور استان تهران به صورت مجازی برگزار شد.
                        
                </b></p>
                <p><b>
                    امسال نیز دانشگاه پیام نور استان آذربایجان شرقی مفتخر اس پنجمین دوره این مسابقاترا بر عهده داشته باشد.
                </b></p>
                
                <div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
            </div>
            <div class="col-inner col-12 col-md-6 mx-auto">
                <p><b>
                    نکات ضروری و اهداف
                </b></p>

            </div>
            <div class="col-inner col-12 col-md-6 mx-auto">
                <p><b>
                        این مسابقات برای ایجاد فضایی سرشار از انرژی و شاداب برای حل مسئله و همچنین ایجاد فضایی
                        برای عرضه توانمندی های دانشجویان در تبدیل ایده و ارائه راه حل های مناسب برنامه نویسی برای
                        مسائل مختلف طرح شده در مسابقه برگزار می شود. سنجش توان دانشجویان و شناخت ومعرفی
                        استعدادهای برتر فکری و برنامه نویسی از طریق یک رقابت سالم از دیگر اهدافی است که این
                        مسابقه دنبال می کند.
                </b></p>
            </div>
            
        </div>
        <div class="col-inner col-12 col-md-6 mx-auto">
                <a class="btn btn-primary" href="{{ url_for('download', filename='Aeen.docx') }}">دانلود آئین نامه</a>
            </div>
    </article>
{% endblock main %}

