<article id="edit_team">
    {% if not announcements %}
        <div class="alert alert-info">
            اطلاعیه ای ثبت نشده است.
        </div>
    {% else %}
        <select name="selector" class="form-select form-select-lg mb-4" id="select_for_edit">
            <option value="0">انتخاب کنید</option>
            {% for ann in announcements %}
                <option value="{{ann.id}}"> {{ ann.title }}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if edit_ann %}
        {% with ann = edit_ann %}
            {% include "/admin/announcements/new.html" %}
        {% endwith  %}
    {% endif %}
</article>