<article id="new_team">
    <form action="" class="flex-wrap" id="new_team_form" method="POST" >
        {{ form and form.hidden_tag()}}
        <div class="col-12 col-md-8 pe-2">
            {{ form.title(class="title form-control {{ form.title.errors and is-invalid }}") }}
            {% if form.title.errors %}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-4 ps-2">
            <div class="image_preview" >
                <img class="placeholder_image placeholder" src="{{ url_for('static', filename='img/camera.png')}}" /> 
                <small class='placeholder_text placeholder'>افزودن تصویر</small>
                <small class='help_text d-none'>برای تغییر کلیک کنید.</small>
            </div>
            {{ form.image(class="d-none", id="avatar_input", accept=".png, .jpg, .jpeg") }}
        </div>
        <div class="col-12 ">
                {{ form.html(class="summernote") }}
        </div>
        <div class="col-12 py-3 justify-content-end d-flex">
            <button class="btn btn-primary" type="submit">ایجاد و انتشار</button>
        </div>
    </form>
</article>